*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;

}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(11, 1, 1);
    color: rgb(215, 201, 201);
    padding: 16px

}
.logo{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.logo li {
    list-style: none;
    margin-inline: 25px;
    font-size: 19px;
}
.searchBar{
    display: flex;

}
.searchBar input{
    width: 226px;
  padding: 6px;
  font-size: 18px;
  border: none;
  border-radius: 34px;
  margin-inline: 21px;
}
.searchBar button{
    
    width: 115px;
  height: 34px;
  background-color: rgb(6, 77, 7);
  color: white;
  border-radius: 13px;
}