*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;

}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(11, 1, 1);
    color: rgb(215, 201, 201);
    padding: 16px

}
.logo{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.logo li {
    list-style: none;
    margin-inline: 25px;
    font-size: 19px;
    cursor: pointer;
}
.logo li:hover{
    color: rgb(5, 201, 175);
    border-bottom: 2px solid black ;
}


.searchBar{
    display: flex;

}
.searchBar input{
    width: 226px;
  padding: 6px;
  font-size: 18px;
  border: none;
  border-radius: 34px;
  margin-inline: 21px;
  
}
.searchBar button{
   
  width: 115px;
  height: 37px;
  background-color: rgb(6, 77, 7);
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  cursor: pointer;

}

@media only screen  and (max-width:830px) {
    li {
        display: none;
    }
}
@media only screen  and (max-width:409px) {
     nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        flex-direction: column;
}
.logo{
    justify-content: center;
}
.searchBar{
    display: flex;
    justify-content: center;
}
    
}